* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 4rem;
    --h2-text: 2.25rem;
    --p-text: 0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

section {
    padding: 70px 17%;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}

.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: .4s;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Home */

.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-text);
    margin: 1rem 0 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    transition: all .4s;
}

.btn:hover {
    transform: scale(1.1) translateY(10px);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text span {
    color: var(--main-color);
    font-weight: 600;
}

.about-text h2 {
    font-size: var(--h2-text);
}

.about-text p {
    margin: 0.8rem 1.8rem;
    line-height: 1.7;
}